# Especificação OpenAPI 3.0 - Star Wars Fan API
# Uso: documentação, Swagger Editor, Postman, Insomnia, clientes gerados
# Produção: https://us-central1-smooth-helper-486601-t3.cloudfunctions.net/star-wars-fan

openapi: 3.0.3
info:
  title: Star Wars Fan API
  description: API REST que consome a SWAPI (filmes, personagens, planetas, naves). Sem autenticação na implantação atual.
  version: 1.0.0

servers:
  - url: https://us-central1-smooth-helper-486601-t3.cloudfunctions.net/star-wars-fan
    description: Produção (Cloud Function)
  - url: http://localhost:8080
    description: Local (uvicorn)

paths:
  /:
    get:
      summary: Informações da API
      responses:
        "200":
          description: Informações da API e links para recursos
  /health:
    get:
      summary: Health check
      responses:
        "200":
          description: OK
  /films:
    get:
      summary: Lista filmes
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
            enum: [title, episode_id, release_date]
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
        - name: character_id
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Lista de filmes
  /films/{film_id}:
    get:
      summary: Detalhe do filme
      parameters:
        - name: film_id
          in: path
          required: true
          schema:
            type: integer
        - name: expand
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Detalhe do filme
        "404":
          description: Filme não encontrado
  /films/{film_id}/characters:
    get:
      summary: Personagens do filme (correlacionado)
      parameters:
        - name: film_id
          in: path
          required: true
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
      responses:
        "200":
          description: Lista de personagens do filme
        "404":
          description: Filme não encontrado
  /people:
    get:
      summary: Lista personagens
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
        - name: gender
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
      responses:
        "200":
          description: Lista de personagens
  /people/{person_id}:
    get:
      summary: Detalhe do personagem
      parameters:
        - name: person_id
          in: path
          required: true
          schema:
            type: integer
        - name: expand
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Detalhe do personagem
        "404":
          description: Personagem não encontrado
  /planets:
    get:
      summary: Lista planetas
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
      responses:
        "200":
          description: Lista de planetas
  /planets/{planet_id}:
    get:
      summary: Detalhe do planeta
      parameters:
        - name: planet_id
          in: path
          required: true
          schema:
            type: integer
        - name: expand
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Detalhe do planeta
        "404":
          description: Planeta não encontrado
  /starships:
    get:
      summary: Lista naves
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
      responses:
        "200":
          description: Lista de naves
  /starships/{starship_id}:
    get:
      summary: Detalhe da nave
      parameters:
        - name: starship_id
          in: path
          required: true
          schema:
            type: integer
        - name: expand
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Detalhe da nave
        "404":
          description: Nave não encontrada
